%div.chat__top
  %div.title
    = @group.name
  %ul.list
    %li.items
      Member:
      -@group.users.each  do |user|
        %li.items.name
          = user.name
  %form.edit
    = link_to  edit_group_path(@group.id) do
      %input{type: "button",id: "edit",value: "Edit"}
