%div.chat__middle
  %ul.chat
    .chank
      %li.message ryouske maehira
      %li.data 2016/10/02 06.27.07
      %li.chat なるほどaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    .chank
      %li.message ryouske maehira
      %li.data 2016/10/02 06.27.07
      %li.chat I want 'LGTM' I want 'LGTM' I want 'LGTM' LGTM LGTM
    .chank
      %li.message ryouske maehira
      %li.data 2016/10/02 06.27.07
      %li.chat なるほどaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    .chank
      %li.message ryouske maehira
      %li.data 2016/10/02 06.27.07
      %li.chat なるほどaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    .chank
      %li.message ryouske maehira
      %li.data 2016/10/02 06.27.07
      %li.chat なるほどaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    .chank
      %li.message ryouske maehira
      %li.data 2016/10/02 06.27.07
      %li.chat なるほどaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    .chank
      %li.message ryouske maehira
      %li.data 2016/10/02 06.27.07
      %li.chat なるほどaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
