%div.contents__chat__top
  %div.contents__chat__top__title aa
  %ul.list
    %li.items Members:
    %li.items.name nao
    %li.items.name hey
  %form.contents__chat__top__edit
    %input{type: "button",id: "edit",value: "Edit"}
