%div.chat__top
  %div.title aa
  %ul.list
    %li.items Members:
    %li.items.name nao
    %li.items.name hey
  %form.edit
    = link_to  edit_group_path(@group.id) do
      %input{type: "button",id: "edit",value: "Edit"}
