%div.contents__group
  = link_to root_path do
    %span.i.fa.fa-cog
  =link_to  root_path do
    %span.i.fa.fa-pencil-square-o
  %div.group__top Top
  %div.group__bottom
    %a{href: "localhot:3000/",style: "text-decoration: none"}
      %div.bottom__chank
        %ul.group
          %li.group_name test
          %li.message  まだメッセージはありません
