%div.contents__group
  %a{href: "http://master.tech-camp.in/"}
    %span.i.fa.fa-cog
  %a{href: "https://github.com/"}
    %span.i.fa.fa-pencil-square-o
  %div.contents__group__top Top
  %div.contents__group__bottom
    %a{href: "localhot:3000/",style: "text-decoration: none"}
      %div.contents__group__bottom__chank
        %ul.group
          %li.group_name test
          %li.message  まだメッセージはありません
