=form_for (@group) do |f|
  =render 'error'
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      .chat-group-form__label
        = f.label :name,"グループ名"
    .chat-group-form__field--right
      =f.text_field :name, class: "chat-group-form__input",placeholder:"グループ名を入力してください"
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      .chat-group-form__label
        =f.label "チャットメンバーを追加"
    .chat-group-form__field--right
      .chat-group-form__search.cleafix
        .chat-group-form__input
        %input{class:"chat-group-form__input", id:"user-search-field", placeholder:"追加したいユーザー名を入力してください"}
      #user-search-result
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      .chat-group-form__label
        .chat-group-form__label
        =f.label"チャットメンバー"
    .chat-group-form__field--right
      .chat-group-form__search.clearfix
        #users_wrap
          =render 'chat-member'
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
    .chat-group-form__field--right
      =f.submit "送信する",class: "chat-group-form__action-btn"
